# CONFIG_LIBQMI_COLLECTION_BASIC is not set
# CONFIG_LIBQMI_WITH_MBIM_QMUX is not set
# CONFIG_LIBQMI_WITH_QRTR_GLIB is not set
# CONFIG_MODEMMANAGER_WITH_MBIM is not set
# CONFIG_MODEMMANAGER_WITH_QMI is not set
# CONFIG_MODEMMANAGER_WITH_QRTR is not set
# CONFIG_PACKAGE_chat is not set
# CONFIG_PACKAGE_comgt is not set
# CONFIG_PACKAGE_comgt-ncm is not set
# CONFIG_PACKAGE_kmod-usb-acm is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-mbim is not set
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm is not set
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan is not set
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-fibocom is not set
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-quectel is not set
# CONFIG_PACKAGE_kmod-usb-net-sierrawireless is not set
# CONFIG_PACKAGE_kmod-usb-serial-wwan is not set
# CONFIG_PACKAGE_libmbim is not set
# CONFIG_PACKAGE_libqmi is not set
# CONFIG_PACKAGE_libqrtr-glib is not set
# CONFIG_PACKAGE_luci-app-hypermodem is not set
# CONFIG_PACKAGE_luci-app-modem is not set
# CONFIG_PACKAGE_luci-app-usbmodem is not set
# CONFIG_PACKAGE_luci-i18n-modem-zh-cn is not set
# CONFIG_PACKAGE_luci-proto-3g is not set
# CONFIG_PACKAGE_luci-proto-mbim is not set
# CONFIG_PACKAGE_luci-proto-modemmanager is not set
# CONFIG_PACKAGE_luci-proto-ncm is not set
# CONFIG_PACKAGE_luci-proto-qmi is not set
# CONFIG_PACKAGE_luci-proto-quectel is not set
# CONFIG_PACKAGE_modemmanager is not set
# CONFIG_PACKAGE_qmi-utils is not set
# CONFIG_PACKAGE_quectel-CM-5G is not set
# CONFIG_PACKAGE_sms-tool is not set
# CONFIG_PACKAGE_umbim is not set
# CONFIG_PACKAGE_uqmi is not set
# CONFIG_PACKAGE_fibocom-dial is not set
# CONFIG_PACKAGE_luci-app-syncdial is not set
# CONFIG_PACKAGE_minicom is not set